.body-noscroll{
    overflow: hidden;
}

.title{
    color: var(--primary-color);
    font-size: 2rem;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    margin: 40px 0px 30px 10px;
}

#section-0{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    color: var(--primary-color);
    margin: 20px auto;

    div{
        position: relative;
        padding: 0.5rem;
        width: 16rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
        box-sizing: border-box;

        label{
            font-size: 1rem;
            color: var(--secondary-color);
            margin: 0px 0px;
            pointer-events: none;
        }

        button{
            transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
            border: 1px solid;
            border-color: var(--light-border-color);
            border-radius: 0.25rem;
            color: var(--primary-color);
            background-color: var(--invisible-color);
            font-size: 1rem;
            padding: 0.5rem;
            width: 100%;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            &:hover{
                color: var(--accent-color);
                text-decoration: none;
                border-color: var(--selected-color-full);
                background-color: var(--background-color);
            }

            img{
                height: 1rem;
                transition: transform 0.2s ease;
                filter: invert(var(--invert-percentage));

                &.flipped{
                    transform: rotate(180deg);
                }
            }
        }

        .menu{
            position: absolute;
            display: none;
            top: 100%;
            left: 0px;
            padding: 0px;
            border: 1px solid;
            border-color: var(--light-border-color);
            border-radius: 0.25rem;
            color: var(--primary-color);
            background-color: var(--menu-color);
            z-index: 5;

            &.open{
                display: block;
            }

            button{
                transition: color 0s ease, background-color 0s ease, border-color 0s ease;
                font-size: 0.9em;
                display: flex;
                justify-content: flex-start;
                gap: 0.5rem;
                align-items: center;
                border-top-width: 0px;
                border-left-width: 0px;
                border-right-width: 0px;
                border-bottom-width: 1px;
                border-radius: 0px;

                &:hover{
                    border-color: var(--light-border-color);
                }

                &.selected div{
                    background-color: var(--selected-color-full);
                }

                &.last{
                    font-size: 0.8em;
                    color: var(--secondary-color);
                    border-bottom-width: 0px;

                    &.disabled{
                        cursor: default;
                        color: var(--secondary-color);
                        &:hover{
                            background-color: transparent;
                        }
                    }
                }

                &.last-no-clear{
                    border-bottom-width: 0px;
                }

                div{
                    display: block;
                    border-radius: 25%;
                    background-color: var(--a-background-color);
                    padding: 0px;
                    margin: 0px;
                    width: 0.9rem;
                    height: 0.9rem;
                    transition: background-color 0.3s ease;
                }

                &.radio{
                    div{
                        border-radius: 50%;
                    }

                    &.selected{
                        div{
                            background-color: var(--selected-color-full);
                        }
                    }
                }
            }
            
            div{
                width: auto;
                display: block;
            }
        }
    }
}

#section-1{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(250px, auto);
    column-gap: 1rem;
    row-gap: 1rem;
    color: var(--primary-color);
    margin: 40px auto;

    .card{
        opacity: 1;
        display: block;
        visibility: visible;
        color: var(--primary-color);
        background-color: var(--background-color);
        border-radius: 1rem;
        text-decoration: none;
        transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease, display 1s allow-discrete;

        @starting-style{
            opacity: 0;
        }

        &.hidden{
            display: none;
            transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease, display 1s allow-discrete;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transform: scale(0.96);

            @starting-style{
                opacity: 1;
            }
        }

        &:hover{
            transform: scale(1.05);
        }

        .img-container{
            position: relative;
            overflow: hidden;
            border-radius: inherit;

            img{
                width: 100%;
                height: 425px;
                object-position: center;
                object-fit: cover;
                overflow: hidden;
                border-radius: 1rem;
            }

            button{
                transition: background-color 0.3s ease;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 0.25rem;
                border: 0px;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(255, 255, 255, 0.4);
                cursor: pointer;

                &.left{
                    position: absolute;
                    top: 50%;
                    left: 0.5rem;
                }

                &.right{
                    position: absolute;
                    top: 50%;
                    right: 0.5rem;
                }

                img{
                    height: 100%;
                    display: block;
                    margin: auto;
                }

                &:hover{
                    background-color: var(--selected-color);
                }
            }
            }

        .title-date{
            display: flex;
            margin: 0.7rem 0.75rem 0.5rem 0.75rem;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            gap: 1rem;

            h1{
                margin: 0px;
                font-size: 1.25rem;
                text-align: left;
            }

            .date{
                color:var(--secondary-color);
                font-size: 0.8rem;
                flex-shrink: 0;
            }
        }

        .medium-tags{
            margin: 0px 0.75rem 0.75rem 0.75rem;
            font-size: 0.7rem;
            display: flex;
            flex-wrap: wrap;
            column-gap: 0.5rem;
            row-gap: 0.5rem;

            span{
                background-color: var(--background-color);
                border-radius: 0.3rem;
                padding: 0.3rem;
            }
        }        
    }
}

#modal-view{
    opacity: 0;
    display: none;
    transition: opacity 0.25s ease,
                display 0.25s allow-discrete;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: var(--modal-external-background-color);
    backdrop-filter: blur(10px);

    z-index: 2;
    margin: 0px;
    padding: 0px;

    @starting-style{
        opacity: 1;
        display: block;
    }

    &.visible{
        display: block;
        justify-content: center;
        align-items: center;
        opacity: 1;

        @starting-style{
            opacity: 0;
        }
    }

    &.hidden{
        display: block;
        opacity: 0;
        pointer-events: none;
    }

    #modal-view-sub{
        position: relative;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: calc(min(90%, 72rem));
        max-height: 95vh;
        overflow-y: auto;
        padding: 1rem;
        border-radius: 1rem;
        background-color: var(--modal-background-color);
        color: var(--primary-color);
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        .title-date{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            h1{
                margin: 20px 0px;
                font-size: 1.5rem;
            }

            .date{
                color:var(--secondary-color);
                font-size: 0.8rem;
                flex-shrink: 0;
            }
        }

        .medium-tags{
            font-size: 0.7rem;
            display: flex;
            flex-wrap: wrap;
            column-gap: 0.5rem;
            row-gap: 0.5rem;

            span{
                background-color: var(--modal-background-color);
                border-radius: 0.3rem;
                padding: 0.3rem;
            }
        }

        .img-carousel{
            position: relative;
            max-height: min(48rem, 80vh);
            flex-shrink: 1;
            background-color: var(--modal-background-color);
            margin: 1rem 0px;
            border-radius: 1rem;

            img{
                margin: 0px auto;
                display: block;
                max-width: 100%;
                max-height: inherit;
                padding: 0px;
                object-fit: contain;
                object-position: center;
                border-radius: inherit;
            }

            button{
                transition: background-color 0.3s ease;
                width: 2rem;
                height: 2rem;
                border-radius: 0.25rem;
                border: 0px;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(255, 255, 255, 0.4);
                cursor: pointer;

                &:hover{
                    background-color: var(--selected-color);
                }

                &.left{
                    position: absolute;
                    top: calc(50% - 1rem);
                    left: 1rem;
                }

                &.right{
                    position: absolute;
                    top: calc(50% - 1rem);
                    right: 1rem;
                }
            }

        }
        .drawing-info{
            p{
                text-align: justify;
                margin: 0px;
            }
        }

        #back-button{
            display: flex;
            align-items: center;
            column-gap: 0.25rem;
            width: fit-content;
            margin: 2rem 0px 0px 0px;
            padding: 5px;
            border-radius: 5px;
            text-decoration: none;
            color: var(--secondary-color);
            transition: background-color 0.3s ease, color 0.3s ease;

            &:hover{
                background-color: var(--a-background-color);
                color: var(--primary-color);
            }

            img{
                filter: invert(var(--invert-percentage));
                width: 1rem;
                height: 1rem;
            }
        }
    }
}

@media (min-height:1439px){

    #modal-view{
        #modal-view-sub{

            .img-carousel{
                max-height: min(64rem, 80vh);
            }          
        }
    }

}

@media (max-height:1079px){

    #modal-view{
        #modal-view-sub{

            .img-carousel{
                max-height: min(48rem, 65vh);
            }          
        }
    }

}

@media (max-height:800px){

    #modal-view{
        #modal-view-sub{

            .img-carousel{
                max-height: min(48rem, 60vh);
            }          
        }
    }

}

@media (min-width:2560px){

    #modal-view{
        #modal-view-sub{
            width: calc(min(90%, 96rem));
        }
    }

}

@media (min-width:3840px){

    #modal-view{
        #modal-view-sub{
            width: calc(min(90%, 112rem));
        }
    }

}


@media (max-width:1280px){

    .title {
        margin: 40px 0px 30px 0px;
        text-align: center;
    }

    #section-0{
        width: 90%;
    }

    #section-1{
        width: 90%;
        grid-template-columns: repeat(2, 1fr);

        .card{
            .title-date{
                h1{
                    text-align: left;
                }
            }
        }
    }

    #modal-view{
        #modal-view-sub{
            width: 90%;
            .title-date{
                h1{
                    text-align: left;
                }
            }
            .drawing-info{
                h1{
                    text-align: left;
                }
            }
        }
    }
}

@media (max-width:960px){

    .title{
        margin: 40px 0px 30px 0px;
        font-size: 2.5rem;
    }


    #section-0{
        flex-direction: column;
        align-items: center;
        gap: 0.75rem;

        div{
            width: 90%;

            label{
                font-size: 1.25rem;
            }

            button{
                font-size: 1.25rem;
            }

            .menu{
                width: 100%;

                button{
                    font-size: 1.25em;
                    &.last{
                        font-size: 1em;
                    }
                }

            }
        }
    }

    #section-1{
        .card{
            .title-date{
                h1{
                    margin: 0px;
                    font-size: 1.5rem;
                }

                .date{
                    font-size: 1rem;
                }
            }

            .medium-tags{
                font-size: 0.9rem;
            }
        }
    }

    #modal-view{
        #modal-view-sub{
            width: 95%;

            .title-date{
                h1{
                    font-size: 2rem;
                }

                .date{
                    font-size: 1rem;
                }
            }

            .medium-tags{
                font-size: 0.9rem;
            }

            .img-carousel{
                button{
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 0.5rem;
                }
            }

            .drawing-info{
                p{
                    font-size: 1rem;
                }
            }
            #back-button{
                font-size: 1.2rem;

                img{
                    width: 1.2rem;
                    height: 1.2rem;
                }
            }
        }
    }
}

@media (max-width:640px){

    #section-0{
        div{
            width: 95%;

            .menu{
            }
        }
    } 

    #section-1{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width:480px)  {
    #section-0{
        width: 95%;
    }

    #section-1{
        width: 95%;
    }

    #modal-view{
        #modal-view-sub{
            width: 97.5%;
        }
    }
}