#footer{
    background-color: var(--background-color);
    color: var(--primary-color);
    height: 200px;
    display: flex;
    justify-content: center;
    bottom: 0px;

    #footer-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        max-width: 72rem;
        margin: 25px 10px 5px 10px;

        h1{
            font-family: "Reddit Sans", sans-serif;
            font-size: 2em;
            margin: 0px;
        }

        p{
            color: var(--secondary-color);
            margin: 12px 0px 16px 0px;
        }

        a{
            padding: 0.5rem;
            border-radius: 0.25rem;
            text-decoration: none;
            color: var(--primary-color);
            margin: 10px 0px;

            &:hover{
                color: var(--accent-color);
                transition: background-color 0.3s ease;
                background-color: var(--a-background-color);
            }
        }
    }
}

@media (max-width:960px){
    #footer-container a{
        font-size: 1.5rem;
    }
}